scenePoint/fishjoy_scenpath_1_c.lua
scenePoint/fishjoy_scenpath_1_up.lua
scenePoint/fishjoy_scenpath_1_dw.lua
scenePoint/fishjoy_scenpath_1_r.lua
scenePoint/fishjoy_scenepath_2_db.lua
scenePoint/fishjoy_scenepath_2_ds.lua
scenePoint/fishjoy_scenepath_2_us.lua
scenePoint/fishjoy_scenepath_2_ub.lua
scenePoint/fishjoy_scenepath_3_1.lua
scenePoint/fishjoy_scenepath_3_2.lua
scenePoint/fishjoy_scenepath_3_3.lua
scenePoint/fishjoy_scenepath_3_4.lua
